.hintwrapper {
  padding: 2px 0;
  padding-bottom: 5px;
  padding-left: 12px;
  box-sizing: border-box;
}
.jshinterrors {
  display: inline-block;
  box-sizing: border-box;
  padding: 2px 10px;
  border-radius: 0px;
  background: #73404c;
  color: #ffa6a6;
}
.hintwrapper .spacer {
  display: inline-block;
  white-space: pre;
}

.jshint-gutter-marker .hint-gutter-dot {
  width: 8px;
  height: 10px;
  background: red;
}

.jshint-gutter-marker .hints {
  display: none;
  width: 310px;
  background:var(bg);
  padding: 5px;
  left: 10px;
  top: -1px;
  position: absolute;
}

.jshint-gutter-marker .hints li {
  padding-bottom: 3px;
  display: block;
}

